# Gopkg.toml example
#
# Refer to https://golang.github.io/dep/docs/Gopkg.toml.html
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

required = [
    "github.com/red-gold/telar-web/src/controllers/storage/config",
    "github.com/red-gold/telar-web/src/controllers/storage/handlers"
  ]

[[constraint]]
  name = "firebase.google.com/go"
  version = "3.10.0"

[[constraint]]
  branch = "master"
  name = "github.com/red-gold/telar-web"

[[constraint]]
  name = "google.golang.org/api"
  version = "0.14.0"

[[override]]
name = "github.com/satori/go.uuid"
revision = "b2ce2384e17bbe0c6d34077efa39dbab3e09123b"

[prune]
  go-tests = true
  unused-packages = true
